language: python
python:
  - "2.7"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install coveralls
# command to run tests, e.g. python setup.py test
script:
  nosetests unittests.py --with-coverage --cover-package=diophantine
after_success:
  coveralls
